.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
src/__pycache__/eorzea_time.cpython-37.pyc
src/__pycache__/load_configuration.cpython-37.pyc
src/__pycache__/logging.cpython-37.pyc
src/__pycache__/loggingFunctionCalls.cpython-37.pyc
src/__pycache__/notifications_provider.cpython-37.pyc
src/__pycache__/overlay_components.cpython-37.pyc
src/__pycache__/test_eorzea_time.cpython-37.pyc
src/__pycache__/test_load_configuration.cpython-37.pyc
src/__pycache__/test_notifications_provider.cpython-37.pyc
src/htmlcov/coverage_html.js
src/htmlcov/eorzea_time_py.html
src/htmlcov/index.html
src/htmlcov/jquery.ba-throttle-debounce.min.js
src/htmlcov/jquery.hotkeys.js
src/htmlcov/jquery.isonscreen.js
src/htmlcov/jquery.min.js
src/htmlcov/jquery.tablesorter.min.js
src/htmlcov/keybd_closed.png
src/htmlcov/keybd_open.png
src/htmlcov/load_configuration_py.html
src/htmlcov/status.json
src/htmlcov/style.css
src/htmlcov/test_eorzea_time_py.html
src/htmlcov/test_load_configuration_py.html
src/.coverage
